<div class="wrapper">
  <div class="column">
    <b>What went well</b>
    <span
      ><mat-icon
        style="cursor: pointer; color: rgb(16, 54, 10)"
        (click)="openDialogue('What went well')"
        >add_circle</mat-icon
      ></span
    >
    <div *ngFor="let item of cardData">
      <div *ngIf="item.title == 'What went well'">
        <div *ngFor="let data of item.cards">
          <mat-card (click)="editCard(data.content,item.title)" style="background-color: rgb(61, 124, 46);" class="example-card">
            <mat-card-content>
              {{ data.content }}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <b>What can be improved</b>
    <span
      ><mat-icon
        style="cursor: pointer; color: rgb(16, 54, 10)"
        (click)="openDialogue('What can be improved')"
        >add_circle</mat-icon
      ></span
    >
    <div *ngFor="let item of cardData">
      <div *ngIf="item.title == 'What can be improved'">
        <div *ngFor="let data of item.cards">
          <mat-card (click)="editCard(data.content,item.title)" style="background-color: rgb(185, 128, 22);" class="example-card">
            <mat-card-content>
              {{ data.content }}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <b>Start doing</b>
    <span
      ><mat-icon
        style="cursor: pointer; color: rgb(16, 54, 10)"
        (click)="openDialogue('Start doing')"
        >add_circle</mat-icon
      ></span
    >
    <div *ngFor="let item of cardData">
      <div *ngIf="item.title == 'Start doing'">
        <div *ngFor="let data of item.cards">
          <mat-card (click)="editCard(data.content,item.title)" style="background-color: rgb(38, 134, 151);" class="example-card">
            <mat-card-content>
              {{ data.content }}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <b>Action items</b>
    <span
      ><mat-icon
        style="cursor: pointer; color: rgb(16, 54, 10)"
        (click)="openDialogue('Action items')"
        >add_circle</mat-icon
      ></span
    >
    <div *ngFor="let item of cardData">
      <div *ngIf="item.title == 'Action items'">
        <div *ngFor="let data of item.cards">
          <mat-card (click)="editCard(data.content,item.title)" style="background-color: rgb(106, 61, 230);" class="example-card">
            <mat-card-content>
              {{ data.content }}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

</div>
