.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 500px;

}

.column{
  border: 1px solid black;
  margin: 10px;
  background-color: antiquewhite;
  text-align: center;
  overflow-y: auto;

}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
  background-color: cadetblue;
  cursor: pointer;
  margin: 10px;
}

mat-dialog-container{
  overflow-y: unset !important;
}
